{% extends "./base.html" %}
{% load static %}

{% block header %}
    <title>Login - Systemz</title>
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="main">
        <p class="lead">Systemz Login</p>
        <form action="{% url 'systemz_login' %}" method="POST">
            <div class="row">
                <div class="col-md-3">
                    <label for="systemz_username">Username: </label>
                    <input type="text" autocomplete="off" name="systemz_username" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="systemz_password">Password: </label>
                    <input type="password" autocomplete="off" name="systemz_password" class="form-control">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <input type="submit" value="Login" class="btn btn-success" name="systemz_submit">
                </div>
            </div>

        </form>
    </div>
{% endblock %}